rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Activos del DAM: solo usuarios autenticados
    match /assets/{assetId} {
      allow read, update, delete: if request.auth != null;
      allow create: if request.auth != null
        && request.resource.data.usuarioPropietario == request.auth.uid;
    }

    // Denegar acceso a cualquier otra colección
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
